/* Add custom css styles here */

.header{
    height: 400px;
    background-image: url('/images/coffee-biscuits.jpg');
    background-size: cover;
    background-position: center; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center; 
    color: white;
    font-size: 1.2em;
}

.header-text{
    background: rgba(0, 0, 0, 0.5); 
    padding: 50px;
    border-radius: 10px;
}

.container {
    margin: 50px;

}

.container img {
    border-radius: 50%; 
}

.about-us {
    margin: 50px 0;
  }
  
  .about-us h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  
  .about-us p {
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: justify;
  }
  

  .about-img {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    object-fit: cover; 
  }
  

  .footer {
    background-color:#0b74e3;
    color: white;
    padding: 30px 0;
  }
  
  .footer h2 {
    color: #fff;
    font-size: 1.9rem;
  }
  
  .footer p {
    margin: 20px;
  }
  
  